torch==2.0.1 
torchvision==0.15.2 
numpy==1.24.3 
pandas==2.0.3 
scikit-learn==1.2.2 
fastapi==0.110.1 
matplotlib==3.7.1
webdataset==0.2.86
salesforce-lavis==1.0.2 
faiss-cpu
uvicorn==0.29.0
python-multipart==0.0.9
