fastapi[all]
absl-py 
accelerate==0.28.0
aiohttp
aiosignal
altair==5.2.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio 
argon2-cffi 
argon2-cffi-bindings 
asttokens
async-timeout
attr
av==11.0.0
backcall 
backports.functools-lru-cache
beautifulsoup4
bleach
blinker
blis==0.7.11
Bottleneck
braceexpand==0.1.7
brotlipy
cachetools
catalogue==2.0.10
certifi 
cffi 
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.1.0
click 
clip
cloudpathlib==0.16.0
cmake==3.26.3
conda-pack
confection==0.1.4
contexttimer==0.3.3
contourpy==1.1.0
cryptography 
cycler 
cymem==2.0.8
debugpy 
decorator 
decord==0.6.0
defusedxml 
diffusers==0.27.2
distlib==0.3.8
einops==0.7.0
einops-exts==0.0.4
en-core-web-sm 
entrypoints 
executing 
fairscale==0.4.4
faiss==1.7.4
fake-useragent==1.2.1
fastapi==0.110.1
fastjsonschema 
filelock==3.13.1
fonttools==4.40.0
frozenlist 
fsspec==2023.5.0
ftfy==6.1.1
future==0.18.3
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.40
google-auth 
google-auth-oauthlib 
google-images-download==2.8.0
Google-Search-API
grpcio 
h11==0.14.0
httptools==0.6.1
huggingface-hub==0.21.4
identify==2.5.33
idna @ file:///croot/idna_1666125576474/work
imageio==2.31.1
imbalanced-learn==0.11.0
importlib-metadata 
iopath==0.1.10
ipykernel 
ipython 
ipython-genutils 
jedi 
Jinja2 
joblib==1.2.0
jsonschema 
jupyter-client 
jupyter-server 
jupyter_core 
jupyterlab-pygments 
kaggle==1.5.16
kiwisolver 
langcodes==3.3.0
lazy_loader==0.2
lime==0.2.0.1
lit==16.0.3
lxml 
Markdown
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib
matplotlib-inline
mdurl==0.1.2
mistune 
mkl-service==2.4.0
mpmath==1.3.0
multidict 
munkres==1.1.4
murmurhash==1.0.10
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx==3.1
nlpaug==1.1.11
nltk==3.8.1
nodeenv==1.8.0
notebook 
notebook_shim 
numexpr 
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib
omegaconf==2.3.0
opencv-python-headless==4.5.5.64
opendatasets==0.1.22
packaging 
pandas==2.0.3
pandocfilters
parso 
peft==0.10.0
pexpect 
pickleshare 
Pillow==9.5.0
platformdirs==4.1.0
plotly==5.18.0
portalocker==2.8.2
pre-commit==3.6.0
preshed==3.0.9
prometheus-client 
prompt-toolkit
protobuf==3.20.3
psutil 
ptyprocess 
pure-eval
pyarrow==14.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycocoevalcap==1.2
pycocotools==2.0.7
pycparser
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.8.1b0
Pygments
PyJWT
pyOpenSSL
pyparsing==3.1.0
pyrsistent 
PySocks 
python-dateutil 
python-dotenv==1.0.1
python-magic==0.4.27
python-multipart==0.0.9
python-slugify==8.0.1
pytz==2023.3
pyu2f 
PyWavelets==1.4.1
PyYAML==6.0
pyzmq 
regex==2023.5.5
requests
requests-oauthlib
rich==13.7.0
rsa
safetensors==0.4.2
salesforce-lavis==1.0.2
scikit-image==0.21.0
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.10.1
seaborn 
selenium==2.53.6
Send2Trash 
sentence-transformers==2.7.0
sentencepiece==0.1.99
six
smart-open==6.4.0
smmap==5.0.1
sniffio 
soupsieve
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data 
starlette==0.37.2
streamlit==1.29.0
sympy==1.12
tenacity==8.2.3
tensorboard 
tensorboard-data-server 
terminado 
text-unidecode==1.3
thinc==8.2.2
threadpoolctl==3.1.0
tifffile==2023.4.12
timm==0.4.12
tinycss2 
tokenizers==0.15.2
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado 
tqdm==4.65.0
traitlets 
transformers==4.39.1
triton==2.0.0
typer==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
Unidecode==1.3.6
urllib3==2.0.2
uvicorn==0.29.0
uvloop==0.19.0
validators==0.22.0
vcrpy==5.1.0
virtualenv==20.25.0
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.21.0
wcwidth 
weasel==0.3.4
webdataset==0.2.86
webencodings==0.5.1
websocket-client 
websockets==12.0
Werkzeug 
wordcloud==1.9.3
wrapt==1.15.0
yarl 
zipp
